.container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.delete-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icon {
  background-color: rgb(154, 216, 231);
  width: 30px;
  border-radius: 50px;
  margin-right: 7px;
  margin-top: 7px;
  padding-top: 2px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon:hover {
  cursor: pointer;
  background-color: rgb(92, 197, 205);
}

.timestamp {
  color: black;
  font-weight: 800;
  font-size: small;
  margin-left: 20px;

  background-color: rgb(154, 216, 231);
  width: 30px;
  border-radius: 50px;
  padding: 5px;
}

.timestamp-container {
  margin-top: 8px;
}
